
body{
	background-image: url("../images/polariod.png");
	background-repeat: repeat;
	padding: 0px;
	margin: 0px;
}

h1{
	text-align: center;
	font-family: 'Fontdiner Swanky', cursive;
	color: orange;
	font-size: 50px;
}

h2{
	font-family: 'Fontdiner Swanky', cursive;

}

li {
  padding: 5px;
  margin: 5px;
  list-style-type: none;
}

.burgerImage{
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.addABurger{
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.devouredBurgers{
	text-align: center;
}

.uneatenBurgers{
	text-align: center;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}